:root {
  --hue: 207;
  --sat: 90%;
  --lig: 61%;
  --body-color: hsl(var(--hue), 100%, 99%);
  --first-color: hsl(var(--hue), var(--sat), var(--lig));
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: var(--bg-color);
  padding: 0 10px;
}

html {
  box-sizing: border-box;
}

* {
  font-family: 'Poppins', sans-serif;
}

.container {
  background: var(--bg-color);
  color: var(--text-color);
  max-width: 450px;
  width: 100%;
  border-radius: 16px;
  box-shadow: var(--box-shadow);
}

.form {
  padding: 25px 30px;
}

.form header {
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
}

.form form {
  margin: 20px 0;
}

.form form .error-text {
  color: #721c24;
  background: #f8d7da;
  padding: 8px 10px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 5px;
  border: 1px solid #f5c6cb;
}

.form form .field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}

.form form .field input {
  outline: none;
}

.form form .field .input input {
  height: 48px;
  width: 100%;
  font-size: 16px;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form form .image input {
  font-size: 17px;
}

.form form .button input {
  margin-top: 13px;
  height: 45px;
  border: none;
  font-size: 17px;
  font-weight: 400;
  background: rgb(255, 113, 113);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  color: var(--text-color);
  cursor: pointer;
}

.form .link a {
  color: var(--text-color);
  text-decoration: none;
}

.link {
  text-align: center;
}

.form .link a:hover {
  text-decoration: underline;
}

.form form .button input:hover {
  transition: .2s ease;
  background: rgb(255, 52, 52);
}

.form form .field i {
  position: absolute;
  right: 15px;
  top: 70%;
  color: #ccc;
  transform: translateY(-40%);
  cursor: pointer;
}

:is(users-list, .chat-box)::-webkit-scrollbar {
  width: 0px;
}

.user-list a .status-dot.offline {
  color: #ccc;
}

.chat-area header {
  display: flex;
  align-items: center;
  padding: 18px 30px;
}

.chat-area header .back-icon {
  font-size: 18px;
  color: #ccc;
}

.chat-area header img {
  height: 45px;
  width: 45px;
  margin: 0 15px;
}

.chat-area header span {
  font-size: 17px;
  font-weight: 500;
}

.chat-box {
  height: 500px;
  overflow-y: auto;
  background: var(--header-color);
  padding: 10px 30px 20px 30px;
  box-shadow:  inset 0 32px 32px -32px rgb(0 0 0 / 5%),
  inset 0 -32px 32px -32px rgb(0 0 0 / 5%);
}

.chat-box .chat {
  margin: 15px 0;
}

.chat-box .chat p {
  word-wrap: break-word;
  padding: 8px 16px;
  box-shadow: var(--box-shadow-message);
}

.chat-box .outgoing {
  display: flex;
}

.outgoing .details {
  margin-left: auto;
  max-width: calc(100% - 130px);
}

.outgoing .details p {
  background: var(--color-message);
  color: var(--text-color);
  border-radius: 18px 18px 0 18px;
}

.chat-box .incoming img {
  height: 35px;
  width: 35px;
}

.incoming .details {
  margin-left: 10px;
  margin-right: auto;
  max-width: calc(100% - 130px);
}

.incoming .details p {
  background: var(--color--message-person);
  border-radius: 18px 18px 18px 0;
}

.chat-area .typing-area {
  padding: 18px 30px;
  display: flex;
  justify-content: space-between;
}

.typing-area input {
  height: 45px;
  width: calc(100%- 58px);
  background: var(--bg-color);
  font-size: 17px;
  border: transparent;
  padding: 0 13px;
  border-radius: 7px 0 0 5px;
  outline: none;
}

.typing-area button {
  width: 60px;
  border: none;
  outline: none;
  background: var(--color-message);
  font-size: 19px;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}

/* f8waXx9U42WG5e5O */

@media (prefers-color-scheme: dark) {
  :root {
      --bg-color: hsl(var(--hue), 40%, 8%);
      --header-color: #111b21;
      --text-color: #fff;
      --input-color: hsl(var(--hue), 24%, 12%);
      --border: #aebac1;
      --color-message: #00a884;
      --color--message-person: #3b4a54;
      --box-shadow: 0  0 128px 0 rgba(255, 255, 255, 0.1), 0 32px 64px -48px rgba(255, 255, 255, 0.5);
      --box-shadow-message: 0 0 32px rgba(255, 255, 255, 0.08),
      0 16px 16px -16px rgba(255, 255, 255, 0.1);
      --shadow-dark: 0 8px 24px hsla(var(--hue), var(--sat), var(--lig), .25);
  }
}

@media (prefers-color-scheme: light) {
  :root {
      --bg-color: hsl(var(--hue), 100%, 99%);
      --header-color: #f0f2f5;
      --input-color: rgb(245, 245, 245);
      --border: #54656f;
      --color-message: #9feab5;
      --color--message-person: #fff;
      --text-color: #000;
      --box-shadow: 0  0 128px 0 rgba(0, 0, 0, 0.1), 0 32px 64px -48px rgba(0, 0, 0, 0.5);
      --box-shadow-message: 0 0 32px rgb(0 0 0 / 8%),
      0 16px 16px -16px rgb(0 0 0 / 10%);
  }
}